.about {
     grid-column: col-start / col-end;
     

     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
     grid-gap: 5rem;
     

     align-items: center;

     &__image {
          height: 35rem;
          box-shadow: .1rem .2rem .5rem rgba(0,0,0, .3);
          
          &--img {
               width: 100%;
               height: 100%;
               border-radius: .2rem;
          }
     }

     &__text {
          font-size: 1.6rem;
          color: $dark-font;
          hyphens: auto;

          
     @include respond  (tab-land) {
          font-size: 2.5em;
          
      }
     }

}