.contact {
    grid-column: col-start 1 / col-end;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 10rem;
    align-items: center;
	font-size: 1.6rem;

	@include respond (tab-land) {
		font-size: 1.3rem;
	}
	

    &__info {
        font-size: 1.6rem;
		align-items: center;

		@include respond(tab-port) {
			font-size: 1.5em;
			margin: 0 auto;
		}

        &--details {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
			text-align: center;

            @include respond(tab-land) {
                margin-bottom: 2rem;
				text-align: center;
              
            }
        }

        &--text {
            transform: translateX(3rem);
			text-transform: capitalize;
			text-decoration: none;
			color: #555;
			text-align: center;

        }
    }
}


.svg-icon {
    width: 2.5rem;
    height: 2.5rem;
  
}

.summary {
	font-size: 1.6rem;
	color: #444;
	font-style: italic;
	list-style: none;
	text-align: center;

	@include respond(tab-land) {
		font-size: 1.2em;
	}

	&__items {
		font-size: 1.6rem;
		@include respond(tab-land) {
			text-align: center;
			font-size: 1.3em;
		}
		
	}
}