
.founder-container {
    grid-column: full-start / full-end;
    background-color:#f3f4f5;
    font-size: 1.5rem;
    hyphens: auto;
    color: #444;
}
.founder {
    max-width: 100rem;
    margin: 5rem auto;


    &__heading {
        font-size: 2rem;
        color: $font-color;
        text-align: center;
    }    

    &__img--box {
        width: 15rem;
        height: 20rem;
        margin: 0 auto;


        margin-bottom: 3rem;
    }

    &__img {
        width: 100%;
        height: 100%;

        outline: .5rem solid $font-color;
        padding: .5rem;

        
    }

    &__name {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__about {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 5rem;
        padding: 3rem;
        color: #444;

        @include respond (tab-land) {
            font-size: 2em;
        }
    }
}