.terms {
    grid-column: col-start 1 / col-end;
    text-align: center;

    &__text {
        font-size: 1.6rem;
        @include respond(tab-land) {
            font-size: 1.3em;
        }
    }
}

li {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

.policy-heading {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: $font-color;
}